.todo-list .list-group-item {
    padding: .25rem .75rem;
}

.todo-list-item--important {
    background: linear-gradient(-130deg, #ffffff 10%, #d3fff2 50%, #bcdcff 100%);
}

.todo-list-item--done {
    background: linear-gradient(-130deg, #ffffff 10%, #eaeaea 50%, #c5c5c5 100%);
}

.todo-list-item--done.todo-list-item--important {
    background: linear-gradient(-130deg, #ffffff 10%, #d3fff2 50%, #c5c5c5 100%);
}
